.feedContainer {
    display: flex;
    flex-direction: column;
    background: #383838;
    height: 94%;
}

.feedRow {
    padding: 10px;
}

.feedItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.feedItem {
    margin: 5px;
    padding: 5px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #d5d5d5;
}

.cardImage {
    width: 150px;
    display: flex;
}

.cardImage img{
    width: 100%;
    height: auto;
}

.playlistFeedContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.playlistFeedItem {
}

.albumFeedContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.albumFeedItem {
}