.topBar {
  display: flex;
  background: #1a1a1a;
  height: 6vh;
  justify-content: space-between;
  align-items: center;
}

.navCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
  color: #00BAFF;
}

.selected {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.unselected {
  text-decoration: none;
  color: inherit;
}